<div>
  <h1><%= q['title'] %></h1>
  <div><%= q['text'] %></div>

  <h3>Answers:</h3>
  <table class="table">
    <% q['answers'].forEach(function(a){ %>
      <tr>
        <td><%= a['text'] %></td>
      </tr>
    <% }) %>
  </table>

</div>
<hr/>
<div>
  <form action="/post-answer" method="post">
    <input type="hidden" name="questionId" value="<%= q['id'] %>"/>
    <div class="form-group">
      <textarea name="text" placeholder="Type your answer here..."></textarea>
    </div>

    <div class="form-group">
      <label for="username">Your username</label>
      <input id="username" name="username" value=""/>
    </div>

    <button type="submit" class="btn btn-primary">Post your answer</button>
  </form>
</div>
